<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="Data Source=.\MSSQL2016;Initial Catalog=projectdatabase;Persist Security Info=True;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"></add>
    <add name="DBCS1" connectionString="Data Source=.\MSSQL2016;Initial Catalog=projectdatabase;Persist Security Info=True;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"></add>
    <add name="DBCS2" connectionString="Data Source=.\MSSQL2016;Initial Catalog=projectdatabase;Persist Security Info=True;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"></add>
    <add name="DBCS3" connectionString="Data Source=.\MSSQL2016;Initial Catalog=projectdatabase;Persist Security Info=True;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
